body {
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
}
button {
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
	border-radius: 50px;
	background-color: #e8e8e8;
	border: none;
	padding: 20px;
	transition: 0.5s;
}
button:hover {
	background-color: #a0a0a0;
}
#mainbox {
	text-align: center;
	width: 100%;
	margin: 0px auto;
}
#button {
	height: 15%;
	width: 15%;
	margin: 15px;
}
#speszjal {
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
}
.haksy {
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	border-radius: 50px;
	background-color: #e8e8e8;
	border: none;
	padding: 20px;
	transition: 0.5s;
	text-align: center;
}
.popup {
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
	border-radius: 50px;
	background-color: #e8e8e8;
	border: none;
	padding: 20px;
	transition: 0.5s;
	text-align: center;
}
.popupsize {
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
	border-radius: 50px;
	background-color: #e8e8e8;
	border: none;
	padding: 20px;
	transition: 0.5s;
	text-align: center;
	width: 5ch;
}