body {
	margin: 0px;
	font-family: 'Krub', sans-serif;
	text-align: center;
	height: 100%;
	font-size: 25px;
}
button {
	margin: 0px 0px 0px 0px;
	padding: 1.5%;
	background-color: grey;
	border: 0px;
	border-radius: 50px;
	transition: 0.5s;
	font-size: 25px;
}
button:hover {
	background-color: #505050;
}
input {
	border: 0px;
	border-radius: 50px;
	padding: 10px;
	background-color: grey;
	width: 50%;
	font-size: 30px;
}
.indicator {
	color: blue;
	margin: 2px;
	font-size: 30px;
}