body {
	margin: 0px;
	font-family: 'Krub', sans-serif;
	text-align: center;
	background-color: #515151;
	height: 100%;
	font-size: 30px;
	color: lightgrey;
}
button:hover {
	background-color: #bf5b09;
}
input {
	border: 0px;
	border-radius: 50px;
	padding: 10px;
	background-color: #e8790b;
	width: 60%;
	font-size: 40px;
	color: lightslategrey;
}
.indicator {
	color: blue;
	margin: 2px;
	font-size: 30px;
	margin: 25px;
}
.icon {
	width: 100px;
	height: 100px;
	transition: -0.05s;
	-webkit-transition: -0.05s;
}
.icon:active {
	width: 10px;
	height: 10px;
	visibility: hidden;
}