body {
	margin: 0px;
	font-family: 'Krub', sans-serif;
	text-align: center;
	background-color: #515151;
	height: 100%;
	font-size: 30px;
	color: lightgrey;
}
button:hover {
	background-color: #bf5b09;
}
input {
	border: 0px;
	border-radius: 50px;
	padding: 10px;
	background-color: #e8790b;
	width: 60%;
	font-size: 40px;
	color: lightslategrey;
}
.indicator {
	color: blue;
	margin: 2px;
	font-size: 30px;
	margin: 25px;
}
.icon {
	width: 75px;
	height: 75px;
	-webkit-transition: -webkit-transform 0.3s ease 0s, opacity 0.2s ease 0s;
	transition: 0.05s;
}
.icon:active {
	width: 125px;
	height: 125px;
}
select {
	border: 0px;
	border-radius: 50px;
	padding: 10px;
	background-color: #e8790b;
	width: 60%;
	font-size: 40px;
	color: lightslategrey;
}