body {
    background-color: lime;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* cursor: none; */
}

img {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#range {
    margin: 0px auto;
    padding: 0px;
    width: 250px;
    height: 50px;
}

#remove_button {
    margin: 0px auto;
    margin-top: 10px;
    width: 250px;
    height: 50px;
}

#test_div {
    position: absolute;
    text-align: center;

}