body {
    background-color: lime;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* cursor: none; */
}

img {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#to_remove {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 50px;
}

#to_remove_2 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 50px;
}